 <kb-page-slider [showIndicator]="true" dotColor="black"
                        [(page)]="pageNumber" (pageCountChange)="pageCount = $event">
 
            <!-- Pages -->
            <div *kbPages="let page of galleries" [style.background]="backImage (page.imgurl)"></div>
 
            <!-- Navigation Buttons -->
            <kb-nav-button backward [showBackground]="true"
                        [(page)]="pageNumber" [pageCount]="pageCount">
            </kb-nav-button>
 
            <kb-nav-button forward [showBackground]="true"
                        [(page)]="pageNumber" [pageCount]="pageCount">
            </kb-nav-button>
 
        </kb-page-slider>

